html *{
   font-family: Tahoma, Geneva, sans-serif;
}

body {
    background-color: black;;
}

.container {
    position: absolute;
    top: 50%;
    left: 10%;
    right:10%;
    -moz-transform: translateX(0%) translateY(-50%);
    -webkit-transform: translateX(0%) translateY(-50%);
    transform: translateX(0%) translateY(-50%);
}

h1 {
    color: white;
    text-align: center
}

p {
    color: white;
    text-align: right
}
